@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";
@import "font-awesome/scss/font-awesome.scss";


article header p.header_categories {
  margin-top: 0.8em;
  line-height: 1.9em;
}

.inner-left header h2 a {
  color: #FFFFFF;
  font-size: 1em;
}

.inner-left header h2 a:hover {
  color: lighten($header-bg, 20);
}