<p>
	{% if site.github_user %}
		<a href="http://github.com/{{site.github_user}}" class="btn btn-dark">GitHub</a>
	{% endif %}
	{% if site.twitter_user %}
		<a href="http://twitter.com/{{site.twitter_user}}" class="btn btn-dark">Twitter</a>
	{% endif %}
	{% if site.linked_in_user %}
        <a href="https://www.linkedin.com/in/{{site.linked_in_user}}" class="btn btn-dark">LinkedIn</a>
    {% endif %}
    {% if site.resume_link %}
        <a href="{{ 'assets/resume/pdf/quentinrousseau_resume_EN.pdf' | asset_path }}" class="btn btn-dark">Resume</a>
    {% endif %}
</p>
