@import "../custom/buttons";

.inner-left {
	> header {
		width: 90%;
		margin: 25px auto 0 auto;
		text-align: center;
		a {
			font-size: 30px;
			color: $white;
			@extend .serif;
			font-weight: 100;
		}
		h1, h2 {
			@extend .serif;
		}
		.title {
			margin-top:10px;
			letter-spacing: -1px;
			text-transform: uppercase;
		}
		h2 {
			margin-top:20px;
			font-size: 0.9em;
			color: $button-dark-color;
		}
		@media only screen and (max-width: 850px) {
			margin: 25px auto 0 auto;
		}
		> a {
			> img {
				border-radius: 300px;
				width: 120px;
				height: auto;
				@media only screen and (max-width: 850px) {
					width: 80px;
				}
				@media only screen and (max-width: 410px) {
					display: none;
				}
			}
		}
	}
	> footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: auto;
		text-align: center;
		@media only screen and (max-width: 850px) {
			width: 100%;
			position: relative;
		}
		a {
			min-width: 100px;
		}
	}
}
